* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

#heading {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    color: white;
}

/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
}

#ibk-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#navbar-logo {
    margin-left: 0%;
    float: left;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

#navbar ul li {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
}

#navbar ul li:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    border-radius: 2px;

}

/* Home Section */

#home {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 600px;
    width: 100%;
    padding: 0px 10px;
}

#home-left {
    background-image: url("/image/ibukun-suit.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

#home-right {
    width: 50%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.2);
    
}

#home-right h1 {
    text-align: center;
    margin: 30px;
}

#home-right h2 {
    text-align: center;
    margin-bottom: 4%;
}

#p-1 {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

#skills{
    color: goldenrod;
}

#skills-heading{
    color: rgb(9, 9, 87);
}

#btn-1, #btn-2 {
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    background-color: rgb(9, 9, 87);
    border-radius: 4px;
}

#btn-1:hover {
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: blue;
    box-shadow: 0 0 10px blue;
}

/* Gallery  Section*/

#gallery {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    align-items: center;
    padding: 20px;
    margin-bottom: none;
}

#main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-gallery img {
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* services section */

#services{
    background-color: rgba(0, 0, 0, 0.2); 
    margin-top: 0;     
}

/* contact Section */
#contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.2);
}

form{
    font-display: flex;
    text-align: center;
    margin-bottom: 1%;
}

#fullname, #email, #phone{
    padding: 10px;
    width: 30%;
    margin: 1%;
    border: none;
}

#messagebox{
    width: 32%;
    border: none;
}

#btn-2{
   margin-top: 7px; 
}

#btn-2:hover {
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    box-shadow: 0 0 10px blue;
}

#footer{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 2%;
}

