* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#ibk-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#navbar-logo {
    margin-left: 0%;
    float: left;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

#navbar ul li {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
}

#navbar ul li:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    border-radius: 2px;
    
}

/* Home Section */

#home{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 800px;
    width: 100%;
    padding: 0px 10px;
}

#home-left{
    background-image: url("/image/ibukun-suit.png");
    background-repeat: no-repeat;
    background-size: cover;  
    width: 50%;  
    /* border: 1px solid gray; */
    border-radius: 100px;
}

#home-right{
    width: 50%;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 3%;
}

#home-right h1{    
    text-align: center;
    margin: 30px;
}

#home-right h2{    
    text-align: center;
    margin-bottom: 4%;    
}

#p-1{
    font-size: 20px;
   line-height: 40px;
   font-weight: bold;
   text-align: justify;
}

#btn-1{
    padding: 15px 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    background-color: rgb(9, 9, 87);
    border-radius: 4px;
}

#btn-1:hover{
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: blue;    
}
  
/* Gallery  Section*/

#gallery{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    align-items: center;
    padding: 20px;
}

#main-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* services section */


