body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 224, 224);
}

#main{
    margin: auto;
    width: 80%;
    height: 800px;
    display: flex;
    border: 1px solid rgb(253, 253, 253);
    margin-top: 3%;
    font-size: 20px;
    box-shadow: 0px 5px 20px 0px;
}

#leftSection{
    padding-top: 0%;
    width: 50%;
    background-image: url("/image/ibukun-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 3%;
    color: white;
}

h1{
    font-size: 140px;
}

#p1{
    font-weight: bold;
}

#p2{
    font-weight: bold;
}

#sm{
    margin-top: 3%;
}

#button-fb{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    padding:2%;
    background-color: blue;
    color: white;
    border: none;
    width: 20%;
    border-radius: 45px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

#button-twt{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    padding:3%;
    background-color: rgb(73, 73, 240);
    color: white;
    border: none;
    width: 40%;
    border-radius: 45px;
    cursor: pointer;
    font-weight: bold;
}

#twitter-img{
    width: 10%;
    height: 10%;
    color: white;
}

#rightSection{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    background-color: white;
}

span{
    color: blue;
    cursor: pointer;
}

#formReg{
    display: flex;
}

#rightformReg{
    margin-left: 15%;
    margin-top: -3px;
}

#firstname, #lastname, #phone, #email, #password1, #password2{
    margin-top: 3%;
    margin-bottom: 10%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 200px;
}

#checkbox1, #checkbox2{
    margin-top: 2%;
    margin-bottom: 3%;
}

#signup{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    padding:3%;
    background-color: blue;
    color: white;
    border: none;
    width: 20%;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}