body

  .firstSection{
      background-color: rgb(216, 214, 214);
      border-radius: 5px;
  }

  .logo{
      background-color: blue;
      color: white;
      padding: 2px;
      margin-right: 2px;
      border-radius: 10px;
      font-weight: bolder;
      margin-left: 10px;
  }

 .firstSectionList {  
      display: inline-block;  
      margin-left: 300px;             
  }

  .firstSectionList li{
      display: inline;
      margin-left: 10px;
      color: blue;
      font-weight: bold;
  }

  .firstSectionList  li:nth-child{
      color: red;
      font-size: 50px;
  }

  a:link{
      text-decoration: none;
  }
  
  .firstSectionList a:hover{
      color: gray;
  }

  .firstSectionButton{
      float: right;
      padding-top: 10px;
  }

  .firstSectionButtonOne{
      background-color: rgb(241, 239, 235);
      color: rgb(253, 145, 163);
      border: none;
      border-radius: 5px;
      font-size: 20px;
      
  }

  .firstSectionButtonTwo{
      background-color: blue;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 20px;
  }

  /*
  .firstSectionButtonOne a{
      font-size: 15px;
  }

  .firstSectionButtonTwo a{
      font-size: 15px;
  }

  
  .firstSectionButtonOne:hover{
      background-color: red;
      color: white;
  }

  .firstSectionButtonTwo:hover{
      background-color: red;
      color: white;
  }
  */

  .secondSection{
      margin-top: 50px;
  }

  .secondSection-left{
      margin-left: 30px;
      display: inline-block;
    }

  .secondSectionButton {
      background-color: blue;
      border-radius: 5px;
      border: none;
      padding: 15px;
      color: white;
    }
    
    .secondSection-right{
        float: right;
        margin-right: 100px;
    }
}
  