*{
    padding: 0;
    margin: 0;
    font-family: verdana;
}

body {
    background-color: black;
}

.container{
    display: flex; 
    justify-content: center;   
}

/*
h1{
    color: white;
    margin-top: 20px;

}
*/

.car-1, .car-2, .car-3 {
    background-color: white;
    
    border-radius: 15px;
    width: 20%;
}

img{
    width: 100%;
    height: 250px;
}

h2, p{
    padding: 10px;
}

button{
    background-color: black;
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 3px;
    text-align: center;
}



button:hover{
    color: blue;
    background-color: white;
}


