.container1{
    display: flex;
    justify-content: center;
    color: gray;
}

.tag1, .tag2, .tag3{
    border: 1px solid black;
    width: 25%;
}

.tag1{
    order: 3;
    flex: 1;
}

.tag2{
    order: 1;
    flex: 1;
}

.tag3{
    order: 2;
    flex: 2;
}

.container2{
    display: flex;
    justify-content: space-around;
}

.tag4, .tag5, .tag6{
    border: 1px solid blue;
    width: 25%;
}

.container3{
    display: flex;
}

.tag7, .tag8, .tag9, .tag10, .tag11, .tag12{
    border: 1px solid green;
    width: 25%;
}

/*
.tag7{
    order: 3;
}
*/
 .tag11{
     order: 1;
 }

 .tag12{
     order: 2;
 }

 .tag7{
     order: 3;
 }

 .tag8{
     order: 4;
 }

 .tag9{
     order: 5;
 }

 .tag10{
     order: 6;
 }


